.header {
  min-width: 100%;
  padding: 0 30px;
  height: 50px;
  background-color: #18181b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link-home {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
  color: #efeff1;
  text-decoration: none;
}
.header__link-home:visited {
  color: #efeff1;
}
.header__link-home:hover {
  text-decoration: underline;
}
.header__btn-login {
  width: 60px;
  height: 30px;
  background-color: #9147ff;
  color: white;
  border: none;
  border-radius: 5px;
}

.header__btn-login:hover {
  background-color: #772ce8;
}

.mobile-btn {
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.mobile-filter-icon {
  display: none;
  position: relative;
  width: 42px;
  height: 4px;
  background-color: white;
  border: none;
}
.mobile-filter-icon::after,
.mobile-filter-icon::before {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  width: 42px;
  height: 4px;
  background-color: white;
}
.mobile-filter-icon::after {
  bottom: 10px;
}
.mobile-filter-icon::before {
  top: 10px;
}

@media (max-width: 560px) {
  .mobile-filter-icon {
    display: block;
  }
}
