* {
  padding: 0px;
  margin: 0px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

/* Убираем внешние отступы */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 19.5px;
}
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
