.movie-details {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-details__container-img {
  height: 70%;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 65px;
}
.movie-details__img {
  width: 100%;
  height: 100%;
}

.movie-details__short {
  height: 80%;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.short__rating {
  margin-top: 10px;
}
.short__text {
  margin: 10px 0;
}

.movie-details__info {
  margin-top: 15px;
}

.info__button_elem {
  margin-right: 50px;
  width: 60px;
  height: 30px;
  background-color: #9147ff;
  color: white;
  border: none;
  border-radius: 5px;
}
.info__button_elem:hover {
  background-color: #772ce8;
  width: 70px;
  height: 35px;
}
.active {
  background-color: #772ce8;
  width: 70px;
  height: 35px;
}

.movie-details__info-details li {
  list-style-type: none;
  margin-top: 10px;
  padding: 5px 0;
  border-bottom: 1px solid #dee2e6;
}
