.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  column-gap: 20px;
  justify-content: center;

  max-height: calc(100vh - 50px);
  overflow-y: auto;
  grid-area: movies;
}

@media (max-width: 560px) {
  .movieList {
    /* grid-area: 2 / sidebar / 2 / movies; */
  }
}
