.movieCard {
  width: 220px;
  height: 310px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
  place-self: center;
}
.movieCard__poster-img {
  width: 220px;
  height: 310px;
  z-index: 0;
}
.movieCard__poster {
  position: relative;
}
.movieCard__poster::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 25%,
    rgba(0, 0, 0, 0.9) 100%
  );
}
.movieCard__poster-rating {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
  width: 40px;
  height: 25px;
  background-color: #18181b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movieCard__poster-rating p {
  color: white;
  font-weight: 800;
}
.movieCard__poster-btns {
  width: 60px;
  height: 25px;
  background-color: #18181b;
  border-radius: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 20px;
}
.poster-btns__favorites {
  width: 15px;
  height: 15px;
  background-image: url('../../../src/assets/icon-favor.png');
  background-repeat: no-repeat;
  background-color: #18181b;
  background-position: center center;
  background-size: cover;
  border: none;
}
.favotires-colored {
  background-image: url('../../../src/assets/icon-favor-colored.png');
}

.poster-btns__postpone {
  width: 15px;
  height: 15px;
  background-image: url('../../../src/assets/icon-post.png');
  background-repeat: no-repeat;
  background-color: #18181b;
  background-position: center center;
  background-size: cover;
  border: none;
}
.postpone-colored {
  background-image: url('../../../src/assets/icon-post-colored.png');
}
.movieCard__poster-title {
  width: 200px;
  height: 80px;
  position: absolute;
  font-size: 17px;
  font-weight: 600;
  color: white;
  left: 10px;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.movieCard__poster__cont-link {
  width: 100px;
  height: 25px;
  background-color: #18181b;
  border: 1px solid #9147ff;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  bottom: 12px;
  right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #efeff1;
}
.movieCard__poster__link {
  color: #efeff1;
}
.movieCard__poster__link:visited {
  color: #efeff1;
}
.movieCard__poster__link:hover {
  text-decoration: underline;
}
